/* styles.css */
.app-container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  padding: 20px;
  margin-top: 1000px;
}

.question-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

.question-text {
  font-size: 24px;
  margin-bottom: 20px;
  color: #343a40;
}

.optionsWrapper {
  display: flex;
  flex-direction: column;
}

.optionsBox {
  background-color: #e9ecef;
  border-radius: 8px;
  padding: 15px; /* Reduced padding for better alignment */
}

.optionButton {
  background: linear-gradient(145deg, #6c757d, #343a40); /* Subtle gradient for a classy look */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px; /* Increased padding for better touch targets */
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow for depth */
}

.optionButton:hover {
  background: linear-gradient(145deg, #343a40, #6c757d); /* Inverted gradient on hover */
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  /* Enhanced shadow on hover */
}

.result-container {
  text-align: center;
  margin-top: 20px; /* Added margin for spacing from other elements */
}

.result-title {
  font-size: 28px;
  margin-bottom: 15px; /* Reduced margin for better spacing */
  color: #007bff;
}

.result-text {
  font-size: 18px;
  color: #495057;
}

.startOverButton {
  background: linear-gradient(145deg, #28a745, #218838); /* Subtle gradient for a classy look */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow for depth */
  margin-top: 20px; /* Added margin for spacing from other elements */
}

.startOverButton:hover {
  background: linear-gradient(145deg, #218838, #28a745); /* Inverted gradient on hover */
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}
